*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.6;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#111827;
position:sticky;
top:0;
z-index:100;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

.logo{
font-weight:bold;
font-size:24px;
color:#38bdf8;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:4rem;
color:#38bdf8;
}

.hero h2{
margin-top:20px;
font-size:1.5rem;
}

.hero p{
max-width:700px;
margin:20px auto;
}

.btn{
padding:12px 24px;
background:#38bdf8;
color:black;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}

.btn-secondary{
padding:12px 24px;
border:1px solid #38bdf8;
color:white;
border-radius:8px;
text-decoration:none;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:20px;
margin-top:30px;
}

section{
padding:100px 10%;
}

section h2{
margin-bottom:30px;
color:#38bdf8;
}

.card{
background:#1e293b;
padding:25px;
border-radius:12px;
margin-bottom:20px;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.skills-grid{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.skills-grid span{
background:#1e293b;
padding:10px 20px;
border-radius:30px;
}

footer{
text-align:center;
padding:30px;
background:#111827;
}
